html {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
}

#header {
  background: #000;
  height: 9%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: x-large;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  color: #949494;
  display: block;
  font-size: 15px;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

#nav-bar {
  display: flex;
  margin: 0 20px;
  width: 25%;
  justify-content: space-around;
}

#main {
  width: 100%;
  margin: 4.4% 0 0;
  text-align: center;
}

#header-img {
  width: 9%;
  margin: 0 20px;
}

#landing-img {
  max-width: 100%;
  display: block;
}

#landing-title {
  top: 40%;
  position: absolute;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  text-align: left;
}

#landing-title p {
  margin: 2px;
}

#description {
  font-size: 25px;
  margin: 5px 280px;
}

#form {
  font-size: large;
}

#email {
  width: 80%;
  height: 30px;
  outline-style: none;
}

#email:focus {
  outline: none;
  box-shadow: 0 0 0 2px #00AECD;
}

#submit {
  background-color: #00AECD;
  color: white;
  height: 30px;
  width: 15%;
  cursor: pointer;
}

#submit:hover {
  background-color: #00aecd9a;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  color: #949494;
  font-size: 25px;
  background-color: inherit;
}

.card p {
  margin: 4px auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.blue-text {
  color: #00AECD;
}

#design {
  background-color: #181818;
  padding: 10px 0;
}

#features .column {
  width: 33.3%;
}

#features .card {
  color: #fff;
  font-size: 18px;
  background-color: #1a1a1a;
  padding: 1px 20px;
}

#features .card p {
  margin: 20px auto;
}

#video {
  margin: 15px;
}